body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 40px;
    align-content: center;
}

.nav-link {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #f4f4f4;
}

.nav {
    color: #f4f4f4;
    background-color: #333;
    margin: 0;
    padding: 15px 30px;
}

.nav-container {
    display: flex;
    /* menüyü yatay yapar */
    flex-direction: column;
    /* menüyü dikey yapar, blog sitesi yazısı ve blogs alt alta gelmesi için */
    align-items: center;
}

.nav ul {
    list-style: none;
    /* stili kaldırır blogs'un yanındaki nokta işareti. */
    padding: 0;
    margin: 0;
}

.footer {
    background-color: #333;
    color: #f4f4f4;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    /* poziyonu sabitler */
    width: 100%;
    bottom: 0;
}

.article {
    background-color: #ffffff;
    color: #333;
    padding: 30px 30px;
    margin: 30px;
    border-radius: 10px;
    align-items: center;
    /* yazıları ortalar yatayda */
    display: flex;
    /* yazıları yatay yapar */
    flex-direction: column;
    /* yazıları dikey yapar */
    /*  justify-content: center; yazıları ortalar dikeyde */
    min-width: 300px;
    min-height: 200px;
    width: 20%;
    height: 350px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    text-decoration: none;
    color: #858585;
}

.text:hover {
    color: #a56464;
}

.article-post {
    background-color: #ffffff;
    color: #333;
    padding: 30px 30px;
    margin: 30px;
    border-radius: 10px;
    align-items: center;
    /* yazıları ortalar yatayda */
    display: flex;
    /* yazıları yatay yapar */
    flex-direction: column;
    /* yazıları dikey yapar */
    /*  justify-content: center; yazıları ortalar dikeyde */
    min-width: 300px;
    min-height: 200px;
    width: 60%;
    height: 450px;
}